.quantity-selector {
  display: flex;
  align-items: center;
  margin: 20px   20px;
}

.quantity-selector button {
  width: 30px;
  height: 30px;
}

.quantity-selector input {
  width: 60px;
  height:30px;
}
