.savings-display {
    margin-top: 5px; /* Adjust spacing if needed */
  }
  
  .savings-text {
    color: green; /* Set the text color to green */
    font-size: 12px; /* Adjust the font size as needed */
  }


  
  