
/*.sidebar-filter {
    width: 250px; 
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

.filter-section {
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

.brand-checkbox {
    margin-bottom: 10px;
}

.brand-checkbox input {
    margin-right: 10px;
}*/

/* SidebarFilter.css */
.sidebar-filter {
    width: 300px; 
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

.filter-section {
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

.brand-checkbox {
    margin-bottom: 10px;
}

.brand-checkbox input {
    margin-right: 10px;
}

.stock-checkbox {
    margin-bottom: 10px;
}

.stock-checkbox input {
    margin-right: 10px;
}



.rating-checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.rating-stars {
    display: flex;
    margin-left: 8px;
}

.star-icon {
    color: #FFD700; /* Adjust color as needed */
    font-size: 16px; /* Adjust size as needed */
}
.filter-scroll {
    max-height: 200px; /* Adjust based on your layout */
    overflow-y: scroll;
}

.filter-scroll::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space 
    background: transparent; /* Optional: just make scrollbar invisible */
}

.filter-scroll::-webkit-scrollbar-thumb {
    background: #000; /* Optional: if you want to customize scrollbar thumb */
}



